@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family:"Nanum Gothic", "Noto Sans", arial, sans-serif;
  font-size:16px;
  color:#333;
  line-height:160%;
}
a{
  color:#333;
  text-decoration:none;
}

#header{
  width:100%;
  position:fixed;top:0px;
  z-index:1000;
  transition:0.5s;
}
#header > .h_top{
  width:1440px;
  margin:0 auto;
  position:relative;
  top:66px;
  transition:0.5s;
}
#header > .h_top h1{
  text-align:center;
}
#header > .h_top > .h_top_nav{
  display:flex;
  position:absolute;
  right:0px;top:16px;
}
#header > .h_top > .h_top_nav > #global > .fa-solid, .fa-globe, #lang{
font-size:16px;
}
#header > .h_top > .h_top_nav > #search_box > #search, .fas, .fa-search{
  font-size: 16px;
}
/* 상단 검색창 */
#search_box{}
#search_box > #search{
  border:none;
  border-radius: 10px;
  height:24px;
  display: none;
}
#search_box .fa-search{
  position:relative;
  left:-30px;
  color:#C40452;
}
#toggle_search:checked ~ #search{
display: inline-block;
}

#lang{
  display:none;
  border:none;
  height:24px;
  border-radius: 10px;
}
#toggle_lang:checked ~ #lang{
  display:inline-block;
}
#global i.fa-globe{
  color:#C40452;
}
/*메인 내비게이션*/
#h_bottom{
  padding-top:100px;
  transition:0.5s;
}
#h_bottom > #gnb{
  width:1080px;
  margin:0 auto;
}
#h_bottom > #gnb > ul{
  display:flex;
  justify-content:space-around;
}
#h_bottom > #gnb > ul > li{}
#h_bottom > #gnb > ul > li > a{
  color:#fff;
  font-size:16px;
  font-weight:bold;
}
#h_bottom > #gnb > ul > li > a:hover{
  text-decoration: underline;
}

header.black_bg{
  background-color:rgb(196, 4, 82, 0.9) !important;
}
header.black_bg .h_top{
  top:40px !important;
}
header.black_bg .h_top .h_top_nav{
  display:none !important;
}
header.black_bg #h_bottom{
  padding-top:60px;
  padding-bottom:20px;
}

/* 푸터영역 */
/* 푸터top */
footer{
  width:100%;
  padding-top:50px;
  background-color: #6D6E71;

}
footer > address{
  width:1440px;
  margin:0 auto;
  color:#fff;
  font-size:14px;
  font-style: normal;
}
footer > address > .footer_top{}
footer > address > .footer_top > ul{
  width:700px;
  display:flex;
  justify-content: space-between;
}
footer > address > .footer_top > ul > li > a{
  color:#fff;
}
footer > address > .footer_top > ul > li:nth-child(2){
  font-weight: bold;
  text-decoration: underline;
}
/* 푸터bottom */
.footer_bottom{
  display:flex;
  justify-content: space-between;
}
#copy{
  line-height:50px;}
.footer_bottom > .footer_right{}
.footer_bottom > .footer_right > .family{
  width:230px;height:50px;
  border:1px solid #fff;
  background-color:#333;
  color:#fff;
  border-radius:25px;
  margin-bottom:50px;
  cursor:pointer;
}
.footer_bottom > .footer_right > .family > a{}
.footer_bottom > .footer_right > .family > option{}

#top_btn{
  z-index: 1000;
  width:50px;
  height:50px;
  line-height: 50px;
  text-align: center;
  border:1px solid #fff;
  border-radius: 50%;
  position: relative;
  right:-1600px;bottom:180px;
  color:#fff;
  transition: 0.5s;
}

/* 페이지네이션 ,방향버튼*/
.swiper-pagination-bullet{
  width:15px;height:5px;
  border-radius: 1px;
}
.swiper-pagination-bullet-active{
  background-color:#C40452;
}
.swiper-button-next, .swiper-button-prev{
  color:#C40452;
}
.swiper-button-next{
}